@page "{id:int}";
@model Danya_15_11_2025.Pages.Books.DeleteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Delete page</title>
</head>
<body>
<h1>Page for delete</h1>

<p>Do you really want delete <b>"@Model.bookItem.Title"</b> ?</p>
<form method="post">
    <button class="btn btn-danger">
        Delete
    </button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
</body>
</html>