@page "{id:int}";
@model Danya_15_11_2025.Pages.Books.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Editing page</title>
</head>
<body>
<h1> Edit book </h1>
<form method="post">
    <input type="hidden" asp-for="bookItem.ID">

    <label>Title:</label>
    <input asp-for="bookItem.Title" class="form-control">
    <label>Author:</label>
    <input asp-for="bookItem.Author" class="form-control">
    <label>Year:</label>
    <input asp-for="bookItem.Year" class="form-control">
    <button type="submit" class="btn btn-success mt-2">Save</button>

</form>
</body>
</html>