@page
@model Danya_15_11_2025.Pages.Books.IndexModel;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Books</title>
</head>

<body>
    <h1>Books</h1>
<a asp-page="Create" class="btn btn-primary">Add Book</a>
<table></table>
</body>
</html>